src/main/xsd/car.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="car">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="vin"/>
        <xs:element type="xs:int" name="milage"/>
        <xs:element type="xs:string" name="type"/>
        <xs:element type="xs:string" name="location"/>
        <xs:element type="xs:int" name="price"/>
        <xs:element type="xs:int" name="maxWeight"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>